html{
    font-size: 10px;
    background: url('./pien-muller-Fh-Q-xfdh_o-unsplash.jpg')  bottom center;
    background-size: cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

html,body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid rgb(94, 91, 91);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
  }